<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41538930903-jtv2b5f07pmcv0pu8h05llt51tt3blsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41538930903-jtv2b5f07pmcv0pu8h05llt51tt3blsq</string>
	<key>API_KEY</key>
	<string>AIzaSyBR_pt1OPscqdgAHIC1OojjPzaYcQwhBoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>41538930903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatting</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c8d93</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c8d93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41538930903:ios:ee8bba6e4b71f00113c892</string>
</dict>
</plist>